h1{
    color: aliceblue;
}
.Total{
    width: 100%;
    height: 99v;
    display: flex;
    justify-content: center;
}
.Principal{
    width:500px;
    height: 99vh;
    background-color: #48426D;
   display: flex;
   border-radius: 40px;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    
}
.Opciones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #f0c38e;
    
    width: 400px;
    height: 300px;
    border-radius: 20px;

    
}
.Opciones a{
    color: #48426D;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
}
.Opciones a:hover{
    color:rgb(255, 255, 255)
}
